:root {
  --ag-grafito: #0b0f13;
  --ag-superficie: #12191f;
  --ag-borde: #273139;
  --ag-blanco: #f1f4f5;
  --ag-acero: #a5b1bb;
  --ag-cian: #79e2ea;
  --ag-titulo: "Sora", sans-serif;
  --ag-cuerpo: "Inter", sans-serif;
  --ag-radio: 16px;
}
